@font-face {
  font-family: 'WeddingChardonnay';
  src: url('../fonts/WeddingChardonnay.eot?#iefix') format('embedded-opentype'),  url('../fonts/WeddingChardonnay.woff') format('woff'), url('../fonts/WeddingChardonnay.ttf')  format('truetype'), url('../fonts/WeddingChardonnay.svg#WeddingChardonnay') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ThrowMyHandsUpintheAir';
  src: url('../fonts/ThrowMyHandsUpintheAir.eot?#iefix') format('embedded-opentype'),  url('../fonts/ThrowMyHandsUpintheAir.woff') format('woff'), url('../fonts/ThrowMyHandsUpintheAir.ttf')  format('truetype'), url('../fonts/ThrowMyHandsUpintheAir.svg#ThrowMyHandsUpintheAir') format('svg');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'ThrowMyHandsUpintheAir-Bold';
  src: url('../fonts/ThrowMyHandsUpintheAir-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ThrowMyHandsUpintheAir-Bold.woff') format('woff'), url('../fonts/ThrowMyHandsUpintheAir-Bold.ttf')  format('truetype'), url('../fonts/ThrowMyHandsUpintheAir-Bold.svg#ThrowMyHandsUpintheAir-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JandaRomantic';
  src: url('../fonts/JandaRomantic.eot?#iefix') format('embedded-opentype'),  url('../fonts/JandaRomantic.woff') format('woff'), url('../fonts/JandaRomantic.ttf')  format('truetype'), url('../fonts/JandaRomantic.svg#JandaRomantic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Selfish';
  src: url('../fonts/Selfish.eot?#iefix') format('embedded-opentype'),  url('../fonts/Selfish.woff') format('woff'), url('../fonts/Selfish.ttf')  format('truetype'), url('../fonts/Selfish.svg#Selfish') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MfReallyAwesome';
  src: url('../fonts/MfReallyAwesome.eot?#iefix') format('embedded-opentype'),  url('../fonts/MfReallyAwesome.woff') format('woff'), url('../fonts/MfReallyAwesome.ttf')  format('truetype'), url('../fonts/MfReallyAwesome.svg#MfReallyAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}


a.menu{
    color: #54541F !important;
    text-decoration: none !important;
}
a.menu:hover{
    color: #54541F !important;
    text-decoration: none !important;
}
a.first{
    color: #E95E49  !important;
    text-decoration: none !important;
    font-weight: bold;
}
a.first:hover{
    color: #E95E49 !important;
    font-weight: bold;
    text-decoration: none !important;
}
img.center-img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:9999;
}
img.center-img:before{
    content:"";
    width: 40px;;
    height: 40px;
    background: white;
    opacity: .5;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
@media only screen and (orientation: landscape){
    div.background {
        position: fixed;
        top:0;
        width: 100%;
        height: 100%;
        transition: background .5s linear;
        background-repeat: no-repeat;
        background-image: url(../img/background.jpg);
        background-size: 100% auto !important;
        background-attachment: fixed;
        background-position: center; 
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        z-index: -11000;
        -webkit-transform-style: preserve-3d;
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
    }
    div.back-slider{
        width: 75%;
        height: 75%;
        margin-left:auto;
        margin-right: auto;
        top: 75px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:-5000;
        -webkit-mask-image: url(../img/mask7751-lr-01.png);
        -webkit-mask-position: center;
        -webkit-mask-size: auto 100% !important;
        transition: background .5s linear;
        background-repeat: no-repeat;
        background-size: auto 103% !important;
        background-position: center; 
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        z-index: -9999;
        -webkit-transform-style: preserve-3d;
    }
}
@media only screen and (orientation: portrait){
    div.background {
        position: fixed;
        top:0;
        width: 100%;
        height: 100%;
        background-image: url(../img/background.jpg);
        transition: background .5s linear;
        background-repeat: no-repeat;
        background-size: auto 100% !important;
        background-attachment: fixed;
        background-position: center; 
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        z-index: -11000;
        -webkit-transform-style: preserve-3d;
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
    }
    div.back-slider{
        width: 100%;
        height: 100%;
        margin-left:auto;
        margin-right: auto;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:-5000;
        -webkit-mask-image: url(../img/mask7751-lr-01.png);
        -webkit-mask-position: center;
        -webkit-mask-size: 100% auto !important;
        transition: background .5s linear;
        background-repeat: no-repeat;
        background-size: 98% auto !important;
        background-position: center; 
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        z-index: -9999;
        -webkit-transform-style: preserve-3d;
    }
}

@media (max-width: 479px) and (orientation:portrait) {
    div.menu-mov{
        width: 50px;
        height: 50px;
        background-image: url(../img/mmenu.png);
        background-size: 100%;
        opacity: 0.75;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 10000;
        cursor:pointer;
    }
    .arbol-right{
        background-image: url('../img/tree-right.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:150px;
        right:0px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
        z-index: -10500;
    }
    .arbol-right:after{
        content:"";
        background-image: url('../img/right-front.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:450px;
        right:-200px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
    }
    .menu-movil-container{
        overflow: hidden;
        color: #cccccc;
        position: relative;
        top:60px;
        -webkit-transition: height 0.2s linear;
        -moz-transition: height 0.2s linear;
        -ms-transition: height 0.2s linear;
        -o-transition: height 0.2s linear;
        transition: height 0.2s linear;
        
    }
    .menu-item-mov{
        padding: 5px 5px 5px 10px;
        background-color: rgba(0,0,0,.7);
        font-family: 'HelveticaNeue-Light';
        font-size: 14pt;
    }
    .menu-item-mov a,.menu-item-mov a:hover{
        color:whitesmoke !important;
    }
    .menu-item-mov:hover{
        background-color: rgba(0,0,0,.4);
    }
    .menu-mov-oculto{
        height: 0px;
        
    }
    .menu-mov-mostrar{
        height: 200px;
    }
} 
@media (max-width: 479px) and (orientation:landscape) {
} 
@media (min-width: 480px) and (max-width: 767px) and (orientation:portrait)  {
} 
@media (min-width: 480px) and (max-width: 767px) and (orientation:landscape)  {
} 
@media (min-width: 768px) and (max-width: 991px) and (orientation:portrait)  {
} 
@media (min-width: 768px) and (max-width: 991px) and (orientation:landscape)  {
} 
@media (min-width: 992px) and (orientation:portrait)  {
    html,body{
        height: 100%;
    }
    div.logo{
        width: 250px;
        height: 100px;
        background-image: url(../img/logo.png);
        background-size: 100% 100%;
        clear: both;
        margin-top: 15px;
        margin-bottom: 15px;
        background-repeat: no-repeat;
        background-position: center; 
        position: fixed;
        
        right: 0;
        top:-12px;
        z-index: 1000;
    }
    .navbar-dsk{
        //background: rgba(0, 0, 0, .5);
        position: fixed;
        width: 100%;
        height: 30px;
        top:50px;
    }
    .navbar-dsk:before{
        content: "";
        display:block;
        background: rgba(255,87,3, .15);
        width: 100%;
        height: 30px;
        position: fixed;
        top:50px;
    }
    .menu-item-dsk{
        font-family: 'JandaRomantic' !important;
        color: #54541F;
        font-size: 16pt;
        padding: 3px 5px 3px 5px;
        margin: 0px 15px 0px 3px;
        //text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
        text-shadow:rgba(0,0,0,.1) -1px -1px 1px,rgba(255,255,255,.5) 1px 1px 1px;
        text-align: center;
    }
    .menu-item-dsk:first a{
        color:rgb(233,94,73) !important;
    }
    .menu-item-dsk:after{
        content: "";
        background-image: url(../img/underline.png);
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 0px; 
        transition-duration: 0.3s;
        background-size: 100% 100%;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: width, height;
        transition-property: width, height;
        position:relative;
        bottom: 10px;
        opacity: .75;
    }
    .menu-item-dsk:hover{
        cursor: pointer;
    }
    .menu-item-dsk:hover:after{
        height: 10px;
        width: 100%;
    }
    .contenido{
        border-style: dotted;
        border-color: rgb(203,194,177);
        background-color: whitesmoke;
        border-width: 1px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 90%;
        margin-top: 120px;
        padding: 15px;
        opacity: .9;
    }
    .rs-facebook{
        width: 40px;
        height: 40px;
        background-image: url(../img/facebook.png);
        margin-left:auto;
        background-size: 100% 100%;
        margin-right: auto;
        clear: both;
        position: fixed;
        bottom:10px;
        right: 110px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .5;
        cursor: pointer;
    }
    .rs-instagram{
        width: 40px;
        height: 40px;
        background-image: url(../img/instagram.png);
        margin-left:auto;
        background-size: 100% 100%;
        margin-right: auto;
        clear: both;
        position: fixed;
        bottom:10px;
        right: 60px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .5;
        cursor: pointer;
    }
    .informacion{
        z-index: 1;
    }
    .rs-500px{
        width: 40px;
        height: 40px;
        background-image: url(../img/500px.png);
        margin-left:auto;
        background-size: 100% 100%;
        margin-right: auto;
        clear: both;
        position: fixed;
        bottom:10px;
        right: 10px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .5;
        cursor: pointer;
    }
    .leaves-left{
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:150px;
        left:100px;
        background-size: auto 100%;
        background-position: right;
        height: 100%;
    }
    .leaves-right{
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:150px;
        right:0px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
    }
    .arbol-left{
        background-image: url('../img/tree-right.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:250px;
        left:0px;
        background-size: auto 100%;
        background-position: right;
        height: 100%;
    }
    .arbol-left:after{
        content:"";
        background-image: url('../img/right-front.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:588px;
        left:-200px;
        background-size: auto 100%;
        background-position: right;
        height: 100%;
    }
    .arbol-right{
        background-image: url('../img/tree-right.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:250px;
        right:0px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
    }
    .arbol-right:after{
        content:"";
        background-image: url('../img/right-front.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:588px;
        right:-200px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
    }
    .piso{
        background-image: url('../img/piso.png');
        position:fixed;
        bottom:0px;
        width:100%;
        height: 50px;
        background-size: 100% auto;
        background-position: top;
        background-repeat: no-repeat;
        z-index:-1;
    }
    .audioplayer{
        position: fixed;
        bottom:15px;
        left: 40px;
        width: 120px !important;
        height: 40px !important;
        background-size: 40px 100%;
        opacity: .75;
        background-repeat: no-repeat;
        cursor:pointer;
    }
    .jp-play{
        background-image: url('../img/play.png');
    }
    .jp-pause{
        background-image: url('../img/pause.png');
    }
    .audioplayer:after{
        content:"Música";
        font-family: 'JandaRomantic' !important;
        opacity: 1;
        text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
        color:#E85E48;
        font-weight: bold;
        width: 75px;
        margin-left: 45px;
        display:block;
        margin-top: 15px;
        
    }

    .internal-style{
        background: rgba(255, 255, 255, .33);
        border: solid;
        border-style: dotted;
        border-width: 1px;
        border-radius: 3px;
    }
}
@media (min-width: 992px) and (orientation:landscape)  {
    .contacto-gmaps{
        width: 400px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .contacto-gmaps #gmap_canvas{
        width: 400px !important;
        height: 400px !important;
        border-radius: 10px;
        border-color: rgb(219,210,192);
        border-width: 3px;
        border-style: solid;
        
    }
    .contacto-informacion{
        width:90%;
        clear:both;
        background-color: rgba(255,255,255,0.3);
        margin-bottom: 25px;
        border-radius: 5px;
        margin-left:auto;
        height: auto;
        margin-right: auto;
        padding:20px;
        position:relative;
        border-style: dotted;
        border-color: rgb(203,194,177);
        border-width: 1px;
    }
    .contacto-informacion:after{
        display: block;
        position:absolute;
        top: 0px;
        width: 5px;
	height: 100%;
        float:left;
        margin-right: 15px;
        left:0px;
        background-color:rgb(203,194,177);
        border-radius: 5px;
        content:"";
    }
    
    .contacto-formulario{
        width: 75%;
        padding: 30px;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(255,255,255,.4);
        border-radius: 5px;
        border-width: 1px;
        border-color: rgb(203,194,177);
        border-style: dotted;
        clear:both;
    }
    
    .contacto-formulario:before{
        content:"Formulario de contacto:";
        display:block;
        padding-bottom: 15px !important;
        font-weight: bold;
    }
    .contacto-formulario label{
        font-weight: normal !important;
    }
    ul.servicios-lista{
        list-style: none;
        width: 100%;
        padding-left: 0px;
    }
    ul.servicios-lista li{
        padding: 15px 15px 15px 40px;
        border-radius: 4px;
        position: relative;
    }
    ul.servicios-lista li:before{
        content:"";
        display: block;
        min-height: 36px;
        width: 35px;
        height: 100%;
        position:absolute;
        top:10px;
        left:0px;
        background-image: url(../img/leave.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        float:left;
    }
    ul.servicios-lista li:hover{
        background-color: rgba(219,210,192,0.3);
    }
    .titulo-pagina{
        font-family: 'JandaRomantic' !important;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 600;
        text-align: left;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top:120px;
        opacity: .7;
        padding-left:10px;
    }
    html,body{
        height: 100%;
    }
    div.logo{
        width: 250px;
        height: 100px;
        background-image: url(../img/logo.png);
        background-size: 100% 100%;
        clear: both;
        margin-top: 15px;
        margin-bottom: 15px;
        background-repeat: no-repeat;
        background-position: center; 
        position: absolute;
        
        right: 0;
        top:-12px;
        z-index: 1000;
    }
    .navbar-dsk{
        //background: rgba(0, 0, 0, .5);
        position: absolute;
        width: 100%;
        height: 30px;
        top:0px;
    }
    .navbar-dsk:before{
        content: "";
        display:block;
        background: rgba(255,87,3, .15);
        width: 100%;
        height: 30px;
        position: absolute;
        top:50px;
    }
    .menu-item-dsk{
        font-family: 'JandaRomantic' !important;
        color: #54541F;
        font-size: 16pt;
        padding: 3px 5px 3px 5px;
        margin: 0px 15px 0px 3px;
        //text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
        text-shadow:rgba(0,0,0,.1) -1px -1px 1px,rgba(255,255,255,.5) 1px 1px 1px;
        text-align: center;
        top:50px;
    }
    .menu-item-dsk:first a{
        color:rgb(233,94,73) !important;
        text-shadow:rgba(0,0,0,.1) -1px -1px 1px,rgba(255,255,255,.5) 1px 1px 1px;
    }
    .menu-item-dsk:after{
        content: "";
        background-image: url(../img/underline.png);
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 0px; 
        transition-duration: 0.3s;
        background-size: 100% 100%;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: width, height;
        transition-property: width, height;
        position: absolute;
        bottom: 3px;
        opacity: .75;
    }
    .menu-item-dsk:hover{
        cursor: pointer;
    }
    .menu-item-dsk:hover:after{
        height: 10px;
        width: 100%;
        
    }
    .contenido{
        font-family: 'MfReallyAwesome';
        font-size: 14pt;
        border-style: dotted;
        border-color: rgb(203,194,177);
        background-color: rgba(250,250,250,0.6);
        border-width: 1px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding: 30px;
        text-align: justify;
        border-radius: 10px;
        z-index: 100 !important;
        margin-bottom: 30px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .form-control{
        font-size: 14pt;
    }
    .contenido-contacto{
        font-family: 'MfReallyAwesome';
        font-size: 14pt;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding: 5px 30px 30px 30px;
        text-align: justify;
        border-radius: 10px;
        z-index: 100 !important;
        margin-bottom: 30px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .biografia-firma{
        font-family: 'Selfish';
        font-size: 27pt;
        width: 100%;
        text-align: right;
        margin-top:30px;
    }
    .rs-facebook{
        width: 40px;
        height: 40px;
        background-image: url(../img/facebook.png);
        margin-left:auto;
        background-size: 100% 100%;
        margin-right: auto;
        clear: both;
        position: fixed;
        bottom:10px;
        right: 110px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .5;
        cursor: pointer;
    }

    .rs-instagram{
        width: 40px;
        height: 40px;
        background-image: url(../img/instagram.png);
        margin-left:auto;
        background-size: 100% 100%;
        margin-right: auto;
        clear: both;
        position: fixed;
        bottom:10px;
        right: 60px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .5;
        cursor: pointer;
    }
    .informacion{
        z-index: 1;
    }
    .rs-500px{
        width: 40px;
        height: 40px;
        background-image: url(../img/500px.png);
        margin-left:auto;
        background-size: 100% 100%;
        margin-right: auto;
        clear: both;
        position: fixed;
        bottom:10px;
        right: 10px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .5;
        cursor: pointer;
    }
    .leaves-left{
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:150px;
        left:100px;
        background-size: auto 100%;
        background-position: right;
        height: 100%;
    }
    .stiky{
        height: 100px;
        width: 100%;
        position: fixed;
        background-color: rgba(255,255,255,0.6)
    }
    .leaves-right{
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:150px;
        right:0px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
        z-index: -100;
    }
    .foto-biografia{
        width: 400px;
        height: auto;
        margin-right: 20px;
        margin-bottom: 20px;
        float:left;
    }
    .arbol-left{
        background-image: url('../img/tree-right.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:250px;
        left:0px;
        background-size: auto 100%;
        background-position: right;
        height: 100%;
        z-index: -1;
    }
    .arbol-left:after{
        content:"";
        background-image: url('../img/right-front.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:588px;
        left:-200px;
        background-size: auto 100%;
        background-position: right;
        height: 100%;
    }
    .arbol-right{
        background-image: url('../img/tree-right.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:250px;
        right:0px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
        z-index: -1;
    }
    .arbol-right:after{
        content:"";
        background-image: url('../img/right-front.png');
        position:fixed;
        background-repeat: repeat-y;
        top:0px;
        width:588px;
        right:-200px;
        background-size: auto 100%;
        background-position: left;
        height: 100%;
    }
    .piso{
        background-image: url('../img/piso.png');
        position:fixed;
        bottom:0px;
        width:100%;
        height: 50px;
        background-size: 100% auto;
        background-position: top;
        background-repeat: no-repeat;
        z-index:-1;
    }
    .audioplayer{
        position: fixed;
        bottom:15px;
        left: 40px;
        width: 120px !important;
        height: 40px !important;
        background-size: 40px 100%;
        background-repeat: no-repeat;
        cursor:pointer;
    }
    .jp-play{
    }
    .jp-play:before{
        content:"";
        display:block;
        opacity: 0.75;
        background-image: url('../img/play.png');
        background-size: 100% 100%;
        width:40px;
        height: 40px;
        float:left;
    }
    .jp-pause{
    }
    .jp-pause:before{
        content:"";
        display:block;
        opacity: 0.75;
        background-image: url('../img/pause.png');
        background-size: 100% 100%;
        width:40px;
        height: 40px;
        float:left;
        
    }
    .audioplayer:after{
        content:"Música";
        font-family: 'JandaRomantic' !important;
        opacity: 1;
        text-shadow:rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
        color:#E85E48;
        font-weight: bold;
        width: 75px;
        margin-left: 45px;
        display:block;
        margin-top: 15px;
        
    }
    .internal-style{
        background: rgba(255, 255, 255, .33);
        border: solid;
        border-style: dotted;
        border-width: 1px;
        border-radius: 3px;
    }
    div.galeria-principal{
        width:80%;
        overflow: hidden;
        height: 350px;
        top:0;
        margin-left: auto;
        margin-right: auto;
        clear: both;
        position:relative;
    }
    .left-arrow{
        color:rgb(203,194,177);
        position: absolute;
        font-size: 40px!important;
        width: 40px;
        height: 40px;
        display:block;
        top: 0;
        bottom:0;
        left: 10px;
        margin:auto;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        z-index:1000;
    }
    .right-arrow{
        color:rgb(203,194,177);
        position: absolute;
        font-size: 40px!important;
        width: 40px;
        height: 40px;
        top: 0;
        bottom:0;
        right: 10px;
        display:block;
        margin:auto;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
        transition: all .1s linear;
        z-index:1000;
    }
    .right-arrow:hover{
        width: 45px;
        height: 47px;
        right:7px;
        font-size: 45px !important;
        
    }
    .left-arrow:hover{
        width: 45px;
        height: 47px;
        left:7px;
        font-size: 45px !important;
        
    }
    div.galeria-principal ul{
        list-style: none;
        width:100%;
        padding-left:0;
        left:0;
        position:relative;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    div.galeria-principal ul li{
        width: 100%;
        padding:5px;
        display:block;
        text-align: center;
        margin-right: 5px;
        float:left;
    }
     div.galeria-principal ul img[orientation=L]{
        -webkit-mask-image: url(../img/mask7751-lr-01.png);
        -webkit-mask-size: 513px 340px;
     }
     div.galeria-principal ul img[orientation=P]{
        -webkit-mask-image: url(../img/mask7751-pr-01.png);
        -webkit-mask-size: 225px 340px;
     }
    div.galeria-principal ul img{
        width:auto;
        height: auto;
        max-height: 340px;
        max-width: 100%;
        width:auto;
        height: auto;
        opacity: 1;
        border-radius: 5px;
        position:relative;
        top: 0;
        bottom:0;
        left:0;
        right: 0;
        margin:auto;
    }
    div.miniaturas{
        margin-top:15px;
        width:80%;
        overflow: hidden;
        height: 100px;
        background-color: rgba(0,0,0,.1);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        clear: both;
    }
    div.miniaturas ul{
        list-style: none;
        width:200%;
        max-height: 100px;
        padding-left:0;
        position:relative;
        overflow:hidden;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    div.miniaturas ul li{
        width: 110px;
        padding:2px;
        height: 100px;
        background-color: rgba(203,194,177,.5);
        display:block;
        text-align: center;
        margin-right: 5px;
        float:left;
        position:relative;
    }
    div.miniaturas ul img{
        width:auto;
        height: auto;
        max-height: 96px;
        max-width: 96px;
        opacity: .75;
        border-radius: 2px;
        position: absolute;
        top: 0;
        bottom:0;
        left:0;
        right: 0;
        margin:auto;
        
    }
    div.miniaturas ul img:hover{
        opacity: 1;
    }
    #zooming-img{
        border-style: solid;
        border-width: 5px;
        border-color: rgb(255,255,255);
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(0,0,0,.7);
    }
} 