
@font-face {
  font-family: 'WeddingChardonnay';
  src: url('WeddingChardonnay.eot?#iefix') format('embedded-opentype'),  url('WeddingChardonnay.woff') format('woff'), url('WeddingChardonnay.ttf')  format('truetype'), url('WeddingChardonnay.svg#WeddingChardonnay') format('svg');
  font-weight: normal;
  font-style: normal;
}
