
@font-face {
  font-family: 'Selfish';
  src: url('Selfish.eot?#iefix') format('embedded-opentype'),  url('Selfish.woff') format('woff'), url('Selfish.ttf')  format('truetype'), url('Selfish.svg#Selfish') format('svg');
  font-weight: normal;
  font-style: normal;
}
